.home {
  min-height: 82.4vh;
}

.saveCont *{
  outline: none !important;
}

.homeContainer {
  height: 100%;
}

path{
  pointer-events: none;
}

.uploadWrapper {
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.uploadFile {
  width: 100%;
  padding: 120px 0;
  display: grid;
  place-items: center;
}

.uploadFile .MuiDropzoneArea-root {
  width: 60%;
  height: auto;
  min-height: 100px;
  padding: 10px;
  outline: none;
}

.textWrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

.refText {
  position: relative;

  *{
    pointer-events: none;
  }

  &:hover div{
    position: relative;
    animation: scrollLeft linear 10s infinite;
  }
}

@keyframes scrollLeft {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.fileName{
  margin-bottom: 20px;

  span{
    font-size: 2em;
    letter-spacing: 4px;
    font-weight: bold;
    color: #121212;
  }
}

.textContainer {
  width: 96%;
  min-width: 700px;
  min-height: 690px;
  background: #e8e7e7;
  padding: 10px 15px;
  overflow-x: hidden;
  // overflow-y: scroll;

  pre {
    font-family: inherit;
    font-size: 16px;
    color: #202020;
    white-space: pre-wrap;
    line-height: 25px;
  }
}

.refTitle{
  color: #4458fb;
}

.refAuthor{
  color: #f93535;
}

.refSource{
  color: #15a650;
}

.refDate{
  color: #7528b9;
}

.tools{
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.refCont{
  *::selection{
    background: inherit;
  }

  &:hover .tools{
    opacity: 1;
  }
}

.grabNum{
  cursor: grab;
}

.refList{
  overflow: scroll;
  max-height: calc(100% - 84px);

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: #c4c4c4;
  }

  &:hover::-webkit-scrollbar{
    width: 6px;
  }
}

.refHalf{
  height: 690px;
}
